.hidden {
  display: none;
  visibility: hidden;
}

.all-options {
  list-style: none;
}
.unclickable {
  pointer-events: none;
}
body {
  background: rgb(203, 243, 240);
}

.modal-home {
  margin-top: 50px;
  width: 50%;
  padding-left: 4.8rem;
  margin: 0 auto;
}

.heading-primary {
  color: rgba(106, 154, 245, 0.836);
  padding: 0 auto;
  font-size: 2.8rem;
  font-weight: 1000;
  font-family: "Inter";
}

.question-primary {
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 6.2rem;
}

.flex {
  margin-top: 2rem;
  position: absolute;
  top: 44%;
  left: 43.5%;
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.programming-quiz-btn {
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(81, 255, 0);
  color: #465f3a;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
}

.gk-quiz-btn {
  border-radius: 50px;
  padding: 10px;
  background-color: #465f3a;
  color: rgb(81, 255, 0);
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
}

.programming-quiz-btn:hover,
.gk-quiz-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 1s all;
}

.quiz-box {
  width: 50rem;
  margin: 5rem auto;
}

.quiz-box h1 {
  transition: 2s all;
  font-size: 2 0.1rem;
  padding-left: 6.8rem;
}

.quiz-box .questions {
  transition: 2s all;
  font-size: 1.5rem;
  padding: 18px;
  margin: 10 auto;
  font-weight: 700;
}

.quiz-box .all-options {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  gap: 1rem;
  list-style: none;
  transition: 2s all;
  font-size: 1.1rem;
}

.quiz-box .all-options .options {
  font-weight: 400;
  cursor: pointer;
}

.quiz-box .all-options .options:hover,
.quiz-box .all-options .options:link {
  font-weight: 900;
  cursor: pointer;
}

.fontWeight {
  font-weight: 900;
}

.hidden {
  display: none;
  visibility: hidden;
}

#score-box {
  color: red;
}

#score {
  color: green;
}

.unclickable {
  pointer-events: none;
}

#start-btn {
  font-size: 2.4rem;
  font-weight: 800;
  font-family: sans-serif;
  background-color: rgb(94, 219, 94);
  border-radius: 50px;
  padding: 5px 25px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.questions {
  color: red;
  font-size: 2.1rem;
  font-weight: 600;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin-left: 30px;
}

.options {
  color: green;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: sans-serif;
  color: #000;
}

.final-score {
  color: red;
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(148, 247, 148);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.timer {
  width: 40px;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  font-weight: 600;
  color: rgb(235, 13, 31);
  margin: 0 auto;
  transform: scale(0.6);
  transition: 1s all;
  background-color: #fff;
  border: 5px solid rgb(235, 13, 31);
  margin-bottom: 2rem;
}

.attempted-text,
.corrected-text,
.rejected-text,
.unattempted-text {
  margin-top: 1.1rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 900;
}

.attempt,
.correct,
.wrong,
.unattempted {
  font-weight: 600;
  font-size: 1rem;
}

.modal-instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(148, 247, 148);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

#agree {
  margin-top: 2rem;
  background-color: transparent;
  border-radius: 50px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: sans-serif;
  border: 2px solid #465f3a;
  color: green;
}

#reject {
  margin-left: 0.3rem;
  margin-top: 2rem;
  background-color: transparent;
  border-radius: 50px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: sans-serif;
  border: none;
  color: red;
  border: 2px solid #465f3a;
}

#agree:hover,
#reject:hover {
  cursor: pointer;
}

#agree:hover {
  background-color: #2dee3d;
  color: darkgreen;
  transition: 1s all;
}

#reject:hover {
  background-color: rgb(241, 35, 35);
  color: white;
  transition: 1s all;
}

.modal-instructions p {
  color: rgb(226, 35, 35);
  font-family: serif;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10 20;
}

.modal-instructions li {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  font-style: bold;
  font-family: sans-serif;
  padding: 1rem;
}

.high-score {
  font-style: italic;
  margin-top: 1rem;
  color: blue;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

#restart-btn {
  border-radius: 50px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #465f3a;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: sans-serif;
}

.modal-btn {
  margin-left: 1rem;
  border-radius: 50px;
  padding: 15px;
  background-color: red;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 800;
  border: none;
}

#restart-btn:hover,
.modal-btn:hover {
  cursor: pointer;
}

.highscore {
  margin-top: 2rem;
  font-style: italic;
  font-size: 2.8rem;
  color: red;
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
  font-weight: 500;
}

.text-msg {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: serif;
  margin-top: 1rem;
  font-style: italic;
}
